.carre{
    width: 50px;
    height: 50px;
    left: 0px;
    background-color: #f23;
    position: relative;
    border-radius: 25px;
    color: white; 
    text-align: center;
    line-height: 50px;
  }
  
  #c1{
    position: relative;
    bottom: 0px;
    animation-name: anim1;
    animation-duration:3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    transform: rotate(0deg)
    
     
  }
  @keyframes anim1{
    0%{
      left:0px;
      background-color: #f23;
      border-radius: 25px;
    }
    
   
  
    40%{
     
      background-color: blue;
      border-radius: 25px;
      transform: rotate(360deg);
  }
    50%{
       left:800px;
      bottom: -400px;
      transform: scale(1.5,.3);
    }
    60%{
      transform: scale(1,1);
    }
    100%{
      left:1300px;
      
    }
  }